body {
  background-color: cream;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 100px;
  margin-right: 100px;
}
#circlegraph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
